@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Nanum+Gothic:wght@400;700&family=Syne:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Nanum+Gothic:wght@400;700&family=Syne:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
b,
i,
ol,
ul,
li,
fieldset,
form,
label,
footer,
header,
menu,
nav,
section {
  line-height: inherit;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

select,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: none;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  vertical-align: middle;
}

button {
  background: transparent;
  border-radius: 0;
  appearance: none;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type=button],
button,
select {
  cursor: pointer;
}

select {
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  padding: 0;
  background: transparent;
  border: 0;
  overflow: auto;
  resize: none;
}

a {
  outline: 0;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  line-height: inherit;
}

:root {
  --baseFont: "Satoshi", "Noto Sans KR", "Nanum Gothic", "맑은 고딕";
  --pointFont: "East Sea Dokdo", "Noto Sans KR";
  --baseColor: #191919;
  --bgColor: #ffffff;
  --baseSize: 1rem;
}

html {
  font-size: 16px;
}
html body {
  background: var(--bgColor);
  font-size: var(--baseSize);
  font-family: var(--baseFont);
}
html body #app {
  position: relative;
}

html {
  font-size: 15px;
}
@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}
#header {
  height: auto;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid var(--baseColor);
}
#header .bind {
  width: 95%;
  min-height: 35px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .bind a {
  color: var(--baseColor);
}
#header .bind a .tit {
  font-size: 1.5rem;
  font-weight: 700;
}
#header .bind .gnb .toggle {
  display: none;
}
#header .bind .nav {
  display: flex;
}
#header .bind .nav #search {
  position: relative;
}
#header .bind .nav #search .search-input {
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid var(--baseColor);
}
#header .bind .nav #search > * {
  font-size: 1rem;
}
#header .bind .nav #search .search-button {
  padding: 4px 10px 5px;
  border: 1px solid var(--baseColor);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--baseColor);
  color: var(--baseColor);
  transition: all 1s ease;
  position: absolute;
  right: 0;
}
#header .bind .nav #search .search-button:hover {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#header .bind .nav #menu .sign-btn {
  display: flex;
}
#header .bind .nav #menu .sign-btn li {
  display: block;
}
#header .bind .nav #menu .sign-btn li:nth-child(odd) {
  margin-left: 15px;
}
#header .bind .nav #menu .sign-btn li > button {
  width: 90px;
  min-height: 30px;
  padding: 5px 10px;
  display: block;
  border: 1px solid var(--baseColor);
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
  transition: all 1s;
  cursor: pointer;
}
#header .bind .nav #menu .sign-btn li .login {
  background-color: var(--bgColor);
  color: var(--baseColor);
}
#header .bind .nav #menu .sign-btn li .login:hover {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#header .bind .nav #menu .sign-btn li .logout {
  background-color: var(--baseColor);
  color: var(--bgColor);
  display: none;
}
#header .bind .nav #menu .sign-btn li .logout:hover {
  background-color: var(--bgColor);
  color: var(--baseColor);
}
#header .bind .nav #menu .sign-btn li .mypage {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#header .bind .nav #menu .sign-btn li .mypage:hover {
  background-color: var(--bgColor);
  color: var(--baseColor);
}

@media (max-width: 1200px) {
  #header {
    padding: 0.8rem 0 0.8rem;
  }
}
@media (max-width: 800px) {
  #header {
    padding: 0.8rem 0 0.8rem;
  }
  #header .bind {
    flex-direction: column;
    position: relative;
  }
  #header .bind .gnb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .bind .gnb .toggle {
    display: block;
    color: var(--baseColor);
  }
  #header .bind .gnb .toggle i {
    color: var(--baseColor);
  }
  #header .bind .nav {
    padding: 0;
    display: none;
    flex-direction: column-reverse;
    position: absolute;
    top: 3.2rem;
    left: -2.5%;
    right: -2.5%;
    z-index: 60;
    background-color: var(--bgColor);
  }
  #header .bind .nav.on {
    display: flex;
  }
  #header .bind .nav #search {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 50px;
    border-bottom: 1px solid var(--baseColor);
  }
  #header .bind .nav #search .search-input {
    width: 90%;
    position: absolute;
    left: 15px;
  }
  #header .bind .nav #search .search-button {
    right: 15px;
  }
  #header .bind .nav #menu .sign-btn {
    flex-direction: column;
  }
  #header .bind .nav #menu .sign-btn li:nth-child(odd) {
    margin-left: 0;
  }
  #header .bind .nav #menu .sign-btn li:nth-of-type(1) {
    padding-top: 0;
  }
  #header .bind .nav #menu .sign-btn li > button {
    width: 100%;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid var(--baseColor);
    border-radius: 0;
    background-color: var(--bgColor) !important;
    color: var(--baseColor) !important;
    font-size: 1.2rem;
    font-weight: 500;
    font-size: 1rem;
  }
  #header .bind .nav #menu .sign-btn li > button:hover {
    color: red !important;
  }
}
@media (max-width: 600px) {
  #header {
    padding: 0.5rem 0 0.5rem;
  }
  #header .bind .nav {
    top: 2.9rem;
  }
}
@media (max-width: 400px) {
  #header {
    padding: 0.5rem 0 0.5rem;
  }
  #header .bind .nav {
    top: 2.9rem;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
b,
i,
ol,
ul,
li,
fieldset,
form,
label,
footer,
header,
menu,
nav,
section {
  line-height: inherit;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

select,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: none;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  vertical-align: middle;
}

button {
  background: transparent;
  border-radius: 0;
  appearance: none;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type=button],
button,
select {
  cursor: pointer;
}

select {
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  padding: 0;
  background: transparent;
  border: 0;
  overflow: auto;
  resize: none;
}

a {
  outline: 0;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  line-height: inherit;
}

:root {
  --baseFont: "Satoshi", "Noto Sans KR", "Nanum Gothic", "맑은 고딕";
  --pointFont: "East Sea Dokdo", "Noto Sans KR";
  --baseColor: #191919;
  --bgColor: #ffffff;
  --baseSize: 1rem;
}

html {
  font-size: 16px;
}
html body {
  background: var(--bgColor);
  font-size: var(--baseSize);
  font-family: var(--baseFont);
}
html body #app {
  position: relative;
}

html {
  font-size: 15px;
}
@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}
.review {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.review .w-60 {
  width: 60%;
}
.review h3 {
  margin-bottom: 20px;
  font-size: 1.8rem;
}
.review .review-content {
  height: 150px;
  width: 100%;
}
.review .save-button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

.review-form .form-info {
  width: 100%;
  display: flex;
  justify-content: right;
}
.review-form .form-info .m-l-10:nth-child(3) {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
.review-form .form-info .m-l-10:nth-child(3):hover {
  background-color: var(--bgColor);
  color: var(--baseColor);
}

.border {
  border: 2px solid black;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

.review-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.review-header button {
  margin-left: 5px;
  color: gray;
  font-size: 15px;
}

.review-item {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-top: 20px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: white;
}
.review-item span {
  margin: 10px 0;
}
.review-item span:nth-child(1) {
  font-weight: bold;
}
.review-item span:nth-child(2) {
  padding: 10px 0;
}

.review-form .m-l-10 {
  margin-left: 10px;
}

.update-content {
  margin: 10px 0;
  padding: 10px 0;
}

@media (max-width: 1200px) {
  .review {
    padding: 20px;
  }
  .review .w-60 {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .review-form .form-info {
    width: 100%;
    display: flex;
    justify-content: right;
  }
  .review-form .form-info .m-l-10 {
    width: 38%;
  }
  .review-form .form-info .m-l-10:nth-child(1) {
    margin-left: 0;
  }
  .review-form .form-info .m-l-10:nth-child(3) {
    width: 20%;
  }
}
#footer {
  height: auto;
  padding: 1rem 0 1rem 0;
  border-top: 1px solid var(--baseColor);
  background-color: var(--baseColor);
}
#footer .bind {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
#footer .bind .tit {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}
#footer .bind h2 {
  font-family: var(--pointFont);
  font-size: 3rem;
  font-weight: 500;
  color: var(--bgColor);
}
#footer .bind p {
  padding: 0 0 10px 0;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  word-break: keep-all;
  color: var(--bgColor);
}
#footer .bind p span {
  font-family: var(--pointFont);
  font-size: 2rem;
  color: var(--bgColor);
}
#footer .bind .team-parent > button {
  min-width: 70px;
  padding: 5px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--bgColor);
  border-radius: 5px;
  font-size: 0.9rem;
  color: var(--bgColor);
}

@media (max-width: 1200px) {
  #footer {
    padding: 0.8rem 0 0.8rem;
  }
  #footer .bind .tit {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  #footer {
    padding: 0.5rem 0 0.5rem;
  }
  #footer .bind .tit {
    font-size: 1.3rem;
  }
}
@media (max-width: 400px) {
  #footer {
    padding: 0.5rem 0 0.5rem;
  }
  #footer .bind .team-parent {
    margin-top: 10px;
  }
  #footer .bind .team-parent > button {
    min-width: 48%;
  }
  #footer .bind .team-parent > button:nth-child(even) {
    margin-right: 0;
  }
}
#actor {
  margin-top: 20px;
  padding: 10px 50px;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
}
#actor .title {
  display: flex;
  width: 60%;
  margin-bottom: 20px;
}
#actor .slide-wrapper {
  position: relative;
  width: 60%;
  height: 300px;
  overflow: hidden;
}
#actor .slide-wrapper .slides {
  position: absolute;
  transition: left 0.5s ease-out;
  left: 0;
  top: 0;
  display: flex;
}
#actor .slide-wrapper .slides .actor-item {
  margin-right: 30px;
  text-align: center;
  font-size: large;
  font-weight: 900;
}
#actor .slide-wrapper .slides .actor-item img {
  width: 200px;
  height: 250px;
}
#actor .controls {
  text-align: center;
  top: 50%;
}
#actor .controls span {
  position: absolute;
  top: 50%;
}
#actor .controls span img {
  width: 30px;
  height: 30px;
}
#actor .controls .prev {
  left: 15%;
}
#actor .controls .next {
  right: 15%;
}

#images {
  padding: 10px 50px;
  position: relative;
  flex-direction: column;
  display: flex;
  align-items: center;
}
#images .title {
  display: flex;
  width: 60%;
  margin-bottom: 20px;
}
#images .slide-image-wrapper {
  position: relative;
  width: 90%;
  height: 300px;
  overflow: hidden;
}
#images .slide-image-wrapper .image-slides {
  position: absolute;
  transition: left 0.5s ease-out;
  left: 0;
  top: 0;
  display: flex;
}
#images .slide-image-wrapper .image-slides .image-item {
  margin-right: 30px;
  text-align: center;
  font-size: large;
  font-weight: 900;
}
#images .slide-image-wrapper .image-slides .image-item img {
  width: 500px;
  height: 300px;
}
#images .image-controls {
  text-align: center;
  top: 50%;
}
#images .image-controls span {
  position: absolute;
  top: 50%;
}
#images .image-controls span img {
  width: 30px;
  height: 30px;
}
#images .image-controls .image-prev {
  left: 2%;
}
#images .image-controls .image-next {
  right: 2%;
}

#detail {
  width: 100%;
  height: auto;
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--baseColor);
}
#detail #detail-image-block {
  width: 280px;
  height: 400px;
  display: flex;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}
#detail #detail-info {
  width: 60%;
  padding: 20px;
}
#detail #detail-info h1 {
  margin-bottom: 10px;
  padding-left: 25px;
  font-size: 2em;
  color: var(--bgColor);
}
#detail #detail-info p {
  padding-left: 25px;
  font-size: 1em;
  line-height: 1.5;
  text-align: justify;
  color: var(--bgColor);
}
#detail #detail-info #recommended-title {
  padding-left: 25px;
  margin: 20px 0 15px;
  color: var(--bgColor);
  font-size: 1rem;
  font-weight: 500;
}
#detail #detail-info #detail-Recommended-poster {
  display: flex;
  justify-content: left;
  margin-top: 6px;
  padding-left: 25px;
  overflow: hidden;
}
#detail #detail-info #detail-Recommended-poster .box {
  margin-right: 8px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  width: 166px;
  height: 250px;
}

@media (max-width: 800px) {
  #detail {
    flex-direction: column;
  }
  #detail #detail-info {
    width: 95%;
    padding: 0;
    margin-top: 40px;
  }
  #detail #detail-info h1 {
    padding-left: 0;
    margin-bottom: 20px;
  }
  #detail #detail-info p {
    padding-left: 0;
  }
  #detail #detail-info #recommended-title {
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 0;
    font-size: 1.2rem;
    font-weight: 500;
  }
  #detail #detail-info #detail-Recommended-poster {
    padding-left: 0;
  }
}
@media (max-width: 600px) {
  #detail {
    flex-direction: column;
  }
  #detail #detail-info #detail-Recommended-poster {
    flex-wrap: wrap;
    justify-content: center;
  }
  #detail #detail-info #detail-Recommended-poster .box {
    width: 190px;
    height: 260px;
    margin-right: 0;
    margin: 10px;
  }
}
@media (max-width: 400px) {
  #detail #detail-info #detail-Recommended-poster .box {
    width: 170px;
    height: 250px;
  }
}

/*# sourceMappingURL=detail.css.map */
