@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Nanum+Gothic:wght@400;700&family=Syne:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
b,
i,
ol,
ul,
li,
fieldset,
form,
label,
footer,
header,
menu,
nav,
section {
  line-height: inherit;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

select,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: none;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  vertical-align: middle;
}

button {
  background: transparent;
  border-radius: 0;
  appearance: none;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type=button],
button,
select {
  cursor: pointer;
}

select {
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  padding: 0;
  background: transparent;
  border: 0;
  overflow: auto;
  resize: none;
}

a {
  outline: 0;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  line-height: inherit;
}

:root {
  --baseFont: "Satoshi", "Noto Sans KR", "Nanum Gothic", "맑은 고딕";
  --pointFont: "East Sea Dokdo", "Noto Sans KR";
  --baseColor: #191919;
  --bgColor: #ffffff;
  --baseSize: 1rem;
}

html {
  font-size: 16px;
}
html body {
  background: var(--bgColor);
  font-size: var(--baseSize);
  font-family: var(--baseFont);
}
html body #app {
  position: relative;
}

html {
  font-size: 15px;
}
@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}
#header {
  height: auto;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid var(--baseColor);
}
#header .bind {
  width: 95%;
  min-height: 35px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .bind a {
  color: var(--baseColor);
}
#header .bind a .tit {
  font-size: 1.5rem;
  font-weight: 700;
}
#header .bind .gnb .toggle {
  display: none;
}
#header .bind .nav {
  display: flex;
}
#header .bind .nav #search {
  position: relative;
}
#header .bind .nav #search .search-input {
  width: 100%;
  min-width: 250px;
  padding: 5px 0;
  border-bottom: 1px solid var(--baseColor);
}
#header .bind .nav #search > * {
  font-size: 1rem;
}
#header .bind .nav #search .search-button {
  padding: 4px 10px 5px;
  border: 1px solid var(--baseColor);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--baseColor);
  color: var(--baseColor);
  transition: all 1s ease;
  position: absolute;
  right: 0;
}
#header .bind .nav #search .search-button:hover {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#header .bind .nav #menu .sign-btn {
  display: flex;
}
#header .bind .nav #menu .sign-btn li {
  display: block;
}
#header .bind .nav #menu .sign-btn li:nth-child(odd) {
  margin-left: 15px;
}
#header .bind .nav #menu .sign-btn li > button {
  width: 90px;
  min-height: 30px;
  padding: 5px 10px;
  display: block;
  border: 1px solid var(--baseColor);
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
  transition: all 1s;
  cursor: pointer;
}
#header .bind .nav #menu .sign-btn li .login {
  background-color: var(--bgColor);
  color: var(--baseColor);
}
#header .bind .nav #menu .sign-btn li .login:hover {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#header .bind .nav #menu .sign-btn li .logout {
  background-color: var(--baseColor);
  color: var(--bgColor);
  display: none;
}
#header .bind .nav #menu .sign-btn li .logout:hover {
  background-color: var(--bgColor);
  color: var(--baseColor);
}
#header .bind .nav #menu .sign-btn li .mypage {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#header .bind .nav #menu .sign-btn li .mypage:hover {
  background-color: var(--bgColor);
  color: var(--baseColor);
}

@media (max-width: 1200px) {
  #header {
    padding: 0.8rem 0 0.8rem;
  }
}
@media (max-width: 800px) {
  #header {
    padding: 0.8rem 0 0.8rem;
  }
  #header .bind {
    flex-direction: column;
    position: relative;
  }
  #header .bind .gnb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .bind .gnb .toggle {
    display: block;
    color: var(--baseColor);
  }
  #header .bind .gnb .toggle i {
    color: var(--baseColor);
  }
  #header .bind .nav {
    padding: 0;
    display: none;
    flex-direction: column-reverse;
    position: absolute;
    top: 3.2rem;
    left: -2.5%;
    right: -2.5%;
    z-index: 60;
    background-color: var(--bgColor);
  }
  #header .bind .nav.on {
    display: flex;
  }
  #header .bind .nav #search {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 50px;
    border-bottom: 1px solid var(--baseColor);
  }
  #header .bind .nav #search .search-input {
    width: 90%;
    position: absolute;
    left: 15px;
  }
  #header .bind .nav #search .search-button {
    right: 15px;
  }
  #header .bind .nav #menu .sign-btn {
    flex-direction: column;
  }
  #header .bind .nav #menu .sign-btn li:nth-child(odd) {
    margin-left: 0;
  }
  #header .bind .nav #menu .sign-btn li:nth-of-type(1) {
    padding-top: 0;
  }
  #header .bind .nav #menu .sign-btn li > button {
    width: 100%;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid var(--baseColor);
    border-radius: 0;
    background-color: var(--bgColor) !important;
    color: var(--baseColor) !important;
    font-size: 1.2rem;
    font-weight: 500;
    font-size: 1rem;
  }
  #header .bind .nav #menu .sign-btn li > button:hover {
    color: red !important;
  }
}
@media (max-width: 600px) {
  #header {
    padding: 0.5rem 0 0.5rem;
  }
  #header .bind .nav {
    top: 2.9rem;
  }
}
@media (max-width: 400px) {
  #header {
    padding: 0.5rem 0 0.5rem;
  }
  #header .bind .nav {
    top: 2.9rem;
  }
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

.content {
  position: relative;
  min-height: 720px;
}
.content .txt_box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  font-weight: 700;
  text-align: center;
  color: #fff;
  z-index: 10;
}
.content .txt_box .txt {
  font-size: 3rem;
  line-height: 1.5;
}
.content .txt_box .movie_open {
  font-size: 1rem;
}
.content .slide_wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}
.content .slide_wrap .slide_box {
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
}
.content .slide_wrap .slide_box .back {
  position: absolute;
  top: 100px;
  width: 100px;
  height: 100px;
  z-index: 10;
  background: #222;
}
.content .slide_wrap .slide_list {
  position: relative;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
}
.content .slide_wrap .slide_list .slide_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.content .slide_wrap .slide_list .slide_item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content .slide_wrap .slide_list .slide_item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, rgb(1, 1, 1) 10%, rgba(1, 1, 1, 0.65) 30%, rgba(1, 1, 1, 0.5) 50%, rgba(1, 1, 1, 0.65) 70%, rgb(1, 1, 1) 100%);
  opacity: 0.7;
}
.content .slide_wrap .slide_list .slide_pagination {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  height: 10px;
  z-index: 10;
}
.content .slide_wrap .slide_list .slide_pagination li {
  background: var(--baseColor);
  width: 100%;
  height: 100%;
}
.content .slide_wrap .slide_list .slide_pagination li.active {
  background: var(--bgColor);
}

@media (max-width: 800px) {
  .content {
    min-height: 580px;
  }
}
@media (max-width: 600px) {
  .content {
    min-height: 520px;
  }
}
@media (max-width: 400px) {
  .content {
    min-height: 300px;
  }
  .content .txt_box .txt {
    font-size: 1.3rem;
  }
}
.select_wrap {
  width: 200px;
  border: 1px solid #222;
  margin: 0 auto;
  display: flex;
  text-align: center;
  overflow: hidden;
  margin-bottom: 1.5rem;
  border-radius: 15px;
}
.select_wrap button {
  font-size: 0.8rem;
  font-weight: 700;
  padding: 5px 20px;
  flex: 1;
}
.select_wrap button.active {
  background: skyblue;
  color: #fff;
}

#footer {
  height: auto;
  padding: 1rem 0 1rem 0;
  border-top: 1px solid var(--baseColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--baseColor);
}
#footer .div-left {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  background-color: var(--baseColor);
}
#footer .div-left #footer-title {
  color: var(--bgColor);
  margin-left: 10px;
}
#footer .div-left #footer-text {
  color: var(--bgColor);
  margin-left: 10px;
  margin-top: 3px;
}
#footer .div-left .team-parent-div {
  display: flex;
  height: auto;
  background-color: "var(--baseColor)";
  margin-top: 10px;
  margin-left: 10px;
}
#footer .div-left #team-people {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bgColor);
  background-color: var(--baseColor);
  border: 1px solid var(--bgColor);
  margin-right: 12px;
  border-radius: 5px;
  width: 83px;
  height: 30px;
}
#footer .div-right {
  height: auto;
  width: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 40px;
  background-color: var(--baseColor);
}
#footer .div-right .footer-clock {
  color: var(--bgColor);
}
#footer .div-right .footer-weather {
  color: var(--bgColor);
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  #footer {
    padding: 0.8rem 0 0.8rem;
  }
  #footer .bind .tit {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  #footer {
    padding: 0.5rem 0 0.5rem;
  }
  #footer .bind .tit {
    font-size: 1.3rem;
  }
}
@media (max-width: 400px) {
  #footer {
    padding: 0.5rem 0 0.5rem;
  }
  #footer .bind .team-parent {
    margin-top: 10px;
  }
  #footer .bind .team-parent > button {
    min-width: 48%;
  }
  #footer .bind .team-parent > button:nth-child(even) {
    margin-right: 0;
  }
}
#section {
  min-height: calc(100vh - 19rem);
  margin: 5rem auto 5rem;
}
#section #movie-list {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
#section #movie-list li {
  width: calc(20% - 40px);
  margin: 1rem;
  background: var(--bgColor);
  border: 1px solid var(--baseColor);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  cursor: pointer;
}
#section #movie-list li a {
  width: 100%;
  height: 450px;
  display: block;
  overflow: hidden;
}
#section #movie-list li a img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
#section #movie-list li .info {
  padding: 1.5em;
}
#section #movie-list li .info h3 {
  width: 250px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#section #movie-list li .overview {
  height: 35%;
  padding: 1.5em;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: -6px -3px 11px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transform: translateY(100%);
  transition: transform 0.5s ease;
  overflow-y: hidden;
  background-color: var(--bgColor);
}
#section #movie-list li .overview h3 {
  margin-bottom: 0.3em;
  font-size: 1.5rem;
  font-weight: 900;
}
#section #movie-list li .overview strong {
  margin-bottom: 0.6em;
  display: block;
}
#section #movie-list li .overview p {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--bgColor);
}
#section #movie-list li .overview p::-webkit-scrollbar {
  width: 1px;
  padding-left: 5px;
  background-color: transparent;
}
#section #movie-list li .overview p::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var(--baseColor);
}
#section #movie-list li .overview p span {
  display: block;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 2줄 넘어가면 말줄임 */
  -webkit-box-orient: vertical;
}
#section #movie-list li:hover .overview {
  transform: translateY(0);
}
#section #movie-list li.nonData {
  width: 100%;
  min-height: 39vh;
  margin: 0;
  border: 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: auto;
}
#section #movie-list li.nonData a {
  height: auto;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}
#section #movie-list li.nonData a:hover i {
  color: red;
}
#section #movie-list li.nonData a i {
  font-size: 1.5rem;
  margin-right: 15px;
}
#section #movie-list li.nonData a span {
  display: inline-block;
}
#section #movie-list li.nonData .non-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2;
  font-size: 1.2rem;
  font-weight: 500;
}
#section #pagination-list {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
#section #pagination-list li {
  min-width: 30px;
  font-size: 1.1rem;
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  border: 1px solid var(--baseColor);
  border-radius: 3px;
}
#section #pagination-list li:hover {
  cursor: pointer;
  background-color: rgba(25, 25, 25, 0.2588235294);
  border: 1px solid transparent;
  color: #fff;
}
#section #pagination-list li.on {
  cursor: pointer;
  background-color: rgba(25, 25, 25, 0.2588235294);
  border: 1px solid transparent;
  color: #fff;
}

@media (max-width: 1200px) {
  #section {
    min-height: calc(100vh - 14rem);
    margin: 3rem auto 3rem;
  }
  #section #movie-list {
    gap: 0;
    justify-content: center;
  }
  #section #movie-list li {
    width: 28%;
    margin: 1rem;
  }
  #section #movie-list li a {
    max-height: 340px;
    height: auto;
  }
  #section #movie-list li .info h3 {
    width: auto;
    margin-bottom: 0;
    font-size: 1.1rem;
  }
  #section #movie-list li .info span {
    font-size: 1rem;
  }
  #section #movie-list li .overview {
    padding: 0.8rem;
  }
  #section #movie-list li .overview h3 {
    font-size: 1rem;
    margin-bottom: 0;
  }
  #section #movie-list li .overview p {
    font-size: 0.9rem;
  }
  #section #pagination-list {
    margin-top: 50px;
  }
  #section #pagination-list li {
    min-width: 25px;
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  #section {
    min-height: calc(100vh - 13rem);
    margin: 2rem auto 2rem;
  }
  #section #movie-list li {
    width: 48%;
    margin: 0;
    margin-bottom: 10px;
  }
  #section #movie-list li:nth-child(odd) {
    margin-right: 10px;
  }
  #section #movie-list li a {
    max-height: 376px;
  }
  #section #movie-list li .info {
    padding: 1rem;
  }
  #section #movie-list li .info h3 {
    font-size: 1rem;
  }
  #section #movie-list li .overview {
    height: 40%;
  }
  #section #movie-list li .overview h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  #section #movie-list li .overview strong {
    display: block;
  }
  #section #movie-list li .overview p span {
    font-size: 1rem;
  }
  #section #pagination-list {
    margin-top: 40px;
    gap: 5px;
  }
  #section #pagination-list li {
    min-width: 25px;
    font-size: 0.8rem;
    padding: 2px 3px;
  }
}
@media (max-width: 400px) {
  #section {
    margin: 1.5rem auto 1.5rem;
  }
  #section #movie-list li {
    margin-bottom: 20px;
  }
  #section #movie-list li a {
    max-height: 240px;
  }
  #section #movie-list li .info {
    padding: 1rem;
  }
  #section #movie-list li .overview {
    height: 50%;
  }
  #section #movie-list li .overview h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  #section #movie-list li .overview strong {
    display: none;
  }
  #section #movie-list li .overview p span {
    font-size: 1rem;
  }
}
@media (max-width: 300px) {
  #section {
    margin: 1.5rem auto 1.5rem;
  }
  #section #movie-list li {
    width: 95%;
    margin-bottom: 20px;
  }
  #section #movie-list li:nth-child(odd) {
    margin-right: 0;
  }
  #section #movie-list li a {
    max-height: 100%;
  }
  #section #movie-list li .info {
    padding: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
