@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Nanum+Gothic:wght@400;700&family=Syne:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
b,
i,
ol,
ul,
li,
fieldset,
form,
label,
footer,
header,
menu,
nav,
section {
  line-height: inherit;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

select,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: none;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  vertical-align: middle;
}

button {
  background: transparent;
  border-radius: 0;
  appearance: none;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type=button],
button,
select {
  cursor: pointer;
}

select {
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  padding: 0;
  background: transparent;
  border: 0;
  overflow: auto;
  resize: none;
}

a {
  outline: 0;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  line-height: inherit;
}

:root {
  --baseFont: "Satoshi", "Noto Sans KR", "Nanum Gothic", "맑은 고딕";
  --pointFont: "East Sea Dokdo", "Noto Sans KR";
  --baseColor: #191919;
  --bgColor: #ffffff;
  --baseSize: 1rem;
}

html {
  font-size: 16px;
}
html body {
  background: var(--bgColor);
  font-size: var(--baseSize);
  font-family: var(--baseFont);
}
html body #app {
  position: relative;
}

html {
  font-size: 15px;
}
@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}
#header {
  height: auto;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid var(--baseColor);
}
#header .bind {
  width: 95%;
  min-height: 35px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .bind a {
  color: var(--baseColor);
}
#header .bind a .tit {
  font-size: 1.5rem;
  font-weight: 700;
}
#header .bind .gnb .toggle {
  display: none;
}
#header .bind .nav {
  display: flex;
}
#header .bind .nav #search {
  position: relative;
}
#header .bind .nav #search .search-input {
  width: 100%;
  min-width: 250px;
  padding: 5px 0;
  border-bottom: 1px solid var(--baseColor);
}
#header .bind .nav #search > * {
  font-size: 1rem;
}
#header .bind .nav #search .search-button {
  padding: 4px 10px 5px;
  border: 1px solid var(--baseColor);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--baseColor);
  color: var(--baseColor);
  transition: all 1s ease;
  position: absolute;
  right: 0;
}
#header .bind .nav #search .search-button:hover {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#header .bind .nav #menu .sign-btn {
  display: flex;
}
#header .bind .nav #menu .sign-btn li {
  display: block;
}
#header .bind .nav #menu .sign-btn li:nth-child(odd) {
  margin-left: 15px;
}
#header .bind .nav #menu .sign-btn li > button {
  width: 90px;
  min-height: 30px;
  padding: 5px 10px;
  display: block;
  border: 1px solid var(--baseColor);
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
  transition: all 1s;
  cursor: pointer;
}
#header .bind .nav #menu .sign-btn li .login {
  background-color: var(--bgColor);
  color: var(--baseColor);
}
#header .bind .nav #menu .sign-btn li .login:hover {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#header .bind .nav #menu .sign-btn li .logout {
  background-color: var(--baseColor);
  color: var(--bgColor);
  display: none;
}
#header .bind .nav #menu .sign-btn li .logout:hover {
  background-color: var(--bgColor);
  color: var(--baseColor);
}
#header .bind .nav #menu .sign-btn li .mypage {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#header .bind .nav #menu .sign-btn li .mypage:hover {
  background-color: var(--bgColor);
  color: var(--baseColor);
}

@media (max-width: 1200px) {
  #header {
    padding: 0.8rem 0 0.8rem;
  }
}
@media (max-width: 800px) {
  #header {
    padding: 0.8rem 0 0.8rem;
  }
  #header .bind {
    flex-direction: column;
    position: relative;
  }
  #header .bind .gnb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .bind .gnb .toggle {
    display: block;
    color: var(--baseColor);
  }
  #header .bind .gnb .toggle i {
    color: var(--baseColor);
  }
  #header .bind .nav {
    padding: 0;
    display: none;
    flex-direction: column-reverse;
    position: absolute;
    top: 3.2rem;
    left: -2.5%;
    right: -2.5%;
    z-index: 60;
    background-color: var(--bgColor);
  }
  #header .bind .nav.on {
    display: flex;
  }
  #header .bind .nav #search {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 50px;
    border-bottom: 1px solid var(--baseColor);
  }
  #header .bind .nav #search .search-input {
    width: 90%;
    position: absolute;
    left: 15px;
  }
  #header .bind .nav #search .search-button {
    right: 15px;
  }
  #header .bind .nav #menu .sign-btn {
    flex-direction: column;
  }
  #header .bind .nav #menu .sign-btn li:nth-child(odd) {
    margin-left: 0;
  }
  #header .bind .nav #menu .sign-btn li:nth-of-type(1) {
    padding-top: 0;
  }
  #header .bind .nav #menu .sign-btn li > button {
    width: 100%;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid var(--baseColor);
    border-radius: 0;
    background-color: var(--bgColor) !important;
    color: var(--baseColor) !important;
    font-size: 1.2rem;
    font-weight: 500;
    font-size: 1rem;
  }
  #header .bind .nav #menu .sign-btn li > button:hover {
    color: red !important;
  }
}
@media (max-width: 600px) {
  #header {
    padding: 0.5rem 0 0.5rem;
  }
  #header .bind .nav {
    top: 2.9rem;
  }
}
@media (max-width: 400px) {
  #header {
    padding: 0.5rem 0 0.5rem;
  }
  #header .bind .nav {
    top: 2.9rem;
  }
}
#footer {
  height: auto;
  padding: 1rem 0 1rem 0;
  border-top: 1px solid var(--baseColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--baseColor);
}
#footer .div-left {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  background-color: var(--baseColor);
}
#footer .div-left #footer-title {
  color: var(--bgColor);
  margin-left: 10px;
}
#footer .div-left #footer-text {
  color: var(--bgColor);
  margin-left: 10px;
  margin-top: 3px;
}
#footer .div-left .team-parent-div {
  display: flex;
  height: auto;
  background-color: "var(--baseColor)";
  margin-top: 10px;
  margin-left: 10px;
}
#footer .div-left #team-people {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bgColor);
  background-color: var(--baseColor);
  border: 1px solid var(--bgColor);
  margin-right: 12px;
  border-radius: 5px;
  width: 83px;
  height: 30px;
}
#footer .div-right {
  height: auto;
  width: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 40px;
  background-color: var(--baseColor);
}
#footer .div-right .footer-clock {
  color: var(--bgColor);
}
#footer .div-right .footer-weather {
  color: var(--bgColor);
  display: flex;
  flex-direction: column;
}

@media (max-width: 1200px) {
  #footer {
    padding: 0.8rem 0 0.8rem;
  }
  #footer .bind .tit {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  #footer {
    padding: 0.5rem 0 0.5rem;
  }
  #footer .bind .tit {
    font-size: 1.3rem;
  }
}
@media (max-width: 400px) {
  #footer {
    padding: 0.5rem 0 0.5rem;
  }
  #footer .bind .team-parent {
    margin-top: 10px;
  }
  #footer .bind .team-parent > button {
    min-width: 48%;
  }
  #footer .bind .team-parent > button:nth-child(even) {
    margin-right: 0;
  }
}
#section {
  min-height: calc(100vh - 19rem);
  margin: 5rem auto 5rem;
}
#section .bind {
  width: 95%;
  min-height: 45vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  cursor: auto;
}
#section .bind .history {
  margin-bottom: 100px;
}
#section .bind .history a {
  height: auto;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}
#section .bind .history a:hover i {
  color: red;
}
#section .bind .history a i {
  font-size: 1.5rem;
  margin-right: 15px;
}
#section .bind .history a span {
  display: inline-block;
}
#section .bind .tit {
  font-size: 2rem;
  margin-bottom: 2rem;
}
#section .bind .my-info {
  min-height: 600px;
  display: flex;
  border: 1px solid var(--baseColor);
  border-radius: 3px;
}
#section .bind .my-info > * {
  min-height: 600px;
}
#section .bind .my-info .my-profile {
  min-width: 300px;
  padding-top: 110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px dashed var(--baseColor);
}
#section .bind .my-info .my-profile a .ico-profile {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--baseColor);
  background-color: var(--baseColor);
  border-radius: 50%;
  overflow: hidden;
}
#section .bind .my-info .my-profile a .ico-profile > img {
  width: 100%;
  height: 100%;
}
#section .bind .my-info .my-profile a .ico-profile i {
  color: var(--bgColor);
}
#section .bind .my-info .my-profile > p {
  margin-top: 0.5rem;
}
#section .bind .my-info .my-profile .our {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.6745098039);
  text-align: center;
}
#section .bind .my-info .my-profile #userId {
  margin-top: 5px;
  display: block;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 700;
  color: var(--baseColor);
}
#section .bind .my-info .my-profile #userPassword {
  margin-top: 10px;
  border: 1px solid var(--baseColor);
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
#section .bind .my-info .my-profile #userPassword:hover {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#section .bind .my-info .my-bookmark {
  width: 100%;
  padding: 25px 20px;
}
#section .bind .my-info .my-bookmark .tit {
  font-size: 1.5rem;
  margin-left: 15px;
  font-weight: 600;
  display: none;
}
#section .bind .my-info .my-bookmark .card-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#section .bind .my-info .my-bookmark .card-list .card-item {
  width: calc(20% - 30px);
  margin: 15px;
  border: 1px solid var(--baseColor);
  border-radius: 3px;
  overflow: hidden;
}
#section .bind .my-info .my-bookmark .card-list .card-item .card-img {
  width: 100%;
  max-height: 370px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#section .bind .my-info .my-bookmark .card-list .card-item .card-img img {
  width: 100%;
}
#section .bind .my-info .my-bookmark .card-list .card-item .card-img .card-delete {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -1px;
  right: -1px;
  background-color: var(--bgColor);
  border: 1px solid var(--baseColor);
  border-radius: 3px;
  font-size: 1rem;
  z-index: 2;
}
#section .bind .my-info .my-bookmark .card-list .card-item .card-tit {
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
}

@media (max-width: 1200px) {
  #section {
    min-height: calc(100vh - 13rem);
    margin: 3rem auto 3rem;
  }
  #section .bind .my-info {
    flex-direction: column;
  }
  #section .bind .my-info > * {
    min-height: auto;
  }
  #section .bind .my-info .my-profile {
    border-right: 0;
    padding-top: 50px;
    min-width: 100%;
  }
  #section .bind .my-info .my-bookmark .card-list .card-item {
    width: calc(33% - 28px);
  }
}
@media (max-width: 600px) {
  #section {
    min-height: calc(100vh - 13rem);
  }
  #section .bind .history {
    margin-bottom: 50px;
  }
  #section .bind .my-info {
    flex-direction: column;
  }
  #section .bind .my-info > * {
    min-height: auto;
  }
  #section .bind .my-info .my-profile {
    border-right: 0;
    padding-top: 50px;
  }
  #section .bind .my-info .my-bookmark {
    padding: 0;
    padding-top: 2rem;
  }
  #section .bind .my-info .my-bookmark .tit {
    margin-bottom: 10px;
  }
  #section .bind .my-info .my-bookmark .card-list .card-item {
    width: calc(50% - 30px);
    margin: 10px;
  }
}
@media (max-width: 400px) {
  #section .bind .my-info {
    flex-direction: column;
  }
  #section .bind .my-info > * {
    min-height: auto;
  }
  #section .bind .my-info .my-bookmark .tit {
    font-size: 1rem;
    margin-bottom: 0;
  }
  #section .bind .my-info .my-bookmark .card-list .card-item {
    width: calc(50% - 16px);
    margin: 8px;
  }
  #section .bind .my-info .my-bookmark .card-list .card-item .card-img {
    max-height: 190px;
  }
  #section .bind .my-info .my-bookmark .card-list .card-item .card-tit {
    padding: 10px 10px;
    font-size: 0.9rem;
  }
}

/*# sourceMappingURL=mypage.css.map */
