@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Nanum+Gothic:wght@400;700&family=Syne:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Noto+Sans+KR:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
em,
img,
b,
i,
ol,
ul,
li,
fieldset,
form,
label,
footer,
header,
menu,
nav,
section {
  line-height: inherit;
  border: 0;
  vertical-align: baseline;
}

ul,
ol,
li {
  list-style: none;
}

select,
input,
textarea,
button {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  outline: none;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  vertical-align: middle;
}

button {
  background: transparent;
  border-radius: 0;
  appearance: none;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type=button],
button,
select {
  cursor: pointer;
}

select {
  -o-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  padding: 0;
  background: transparent;
  border: 0;
  overflow: auto;
  resize: none;
}

a {
  outline: 0;
  font-family: inherit;
  font-weight: inherit;
  text-decoration: none;
  color: inherit;
  line-height: inherit;
}

:root {
  --baseFont: "Satoshi", "Noto Sans KR", "Nanum Gothic", "맑은 고딕";
  --pointFont: "East Sea Dokdo", "Noto Sans KR";
  --baseColor: #191919;
  --bgColor: #ffffff;
  --baseSize: 1rem;
}

html {
  font-size: 16px;
}
html body {
  background: var(--bgColor);
  font-size: var(--baseSize);
  font-family: var(--baseFont);
}
html body #app {
  position: relative;
}

html {
  font-size: 15px;
}
@media (max-width: 600px) {
  html {
    font-size: 15px;
  }
}
#header {
  height: auto;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid var(--baseColor);
}
#header .bind {
  width: 95%;
  min-height: 35px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .bind a {
  color: var(--baseColor);
}
#header .bind a .tit {
  font-size: 1.5rem;
  font-weight: 700;
}
#header .bind .gnb .toggle {
  display: none;
}
#header .bind .nav {
  display: flex;
}
#header .bind .nav #search {
  position: relative;
}
#header .bind .nav #search .search-input {
  width: 100%;
  min-width: 250px;
  padding: 5px 0;
  border-bottom: 1px solid var(--baseColor);
}
#header .bind .nav #search > * {
  font-size: 1rem;
}
#header .bind .nav #search .search-button {
  padding: 4px 10px 5px;
  border: 1px solid var(--baseColor);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: var(--baseColor);
  color: var(--baseColor);
  transition: all 1s ease;
  position: absolute;
  right: 0;
}
#header .bind .nav #search .search-button:hover {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#header .bind .nav #menu .sign-btn {
  display: flex;
}
#header .bind .nav #menu .sign-btn li {
  display: block;
}
#header .bind .nav #menu .sign-btn li:nth-child(odd) {
  margin-left: 15px;
}
#header .bind .nav #menu .sign-btn li > button {
  width: 90px;
  min-height: 30px;
  padding: 5px 10px;
  display: block;
  border: 1px solid var(--baseColor);
  border-radius: 5px;
  font-size: 0.9rem;
  text-align: center;
  transition: all 1s;
  cursor: pointer;
}
#header .bind .nav #menu .sign-btn li .login {
  background-color: var(--bgColor);
  color: var(--baseColor);
}
#header .bind .nav #menu .sign-btn li .login:hover {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#header .bind .nav #menu .sign-btn li .logout {
  background-color: var(--baseColor);
  color: var(--bgColor);
  display: none;
}
#header .bind .nav #menu .sign-btn li .logout:hover {
  background-color: var(--bgColor);
  color: var(--baseColor);
}
#header .bind .nav #menu .sign-btn li .mypage {
  background-color: var(--baseColor);
  color: var(--bgColor);
}
#header .bind .nav #menu .sign-btn li .mypage:hover {
  background-color: var(--bgColor);
  color: var(--baseColor);
}

@media (max-width: 1200px) {
  #header {
    padding: 0.8rem 0 0.8rem;
  }
}
@media (max-width: 800px) {
  #header {
    padding: 0.8rem 0 0.8rem;
  }
  #header .bind {
    flex-direction: column;
    position: relative;
  }
  #header .bind .gnb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .bind .gnb .toggle {
    display: block;
    color: var(--baseColor);
  }
  #header .bind .gnb .toggle i {
    color: var(--baseColor);
  }
  #header .bind .nav {
    padding: 0;
    display: none;
    flex-direction: column-reverse;
    position: absolute;
    top: 3.2rem;
    left: -2.5%;
    right: -2.5%;
    z-index: 60;
    background-color: var(--bgColor);
  }
  #header .bind .nav.on {
    display: flex;
  }
  #header .bind .nav #search {
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 50px;
    border-bottom: 1px solid var(--baseColor);
  }
  #header .bind .nav #search .search-input {
    width: 90%;
    position: absolute;
    left: 15px;
  }
  #header .bind .nav #search .search-button {
    right: 15px;
  }
  #header .bind .nav #menu .sign-btn {
    flex-direction: column;
  }
  #header .bind .nav #menu .sign-btn li:nth-child(odd) {
    margin-left: 0;
  }
  #header .bind .nav #menu .sign-btn li:nth-of-type(1) {
    padding-top: 0;
  }
  #header .bind .nav #menu .sign-btn li > button {
    width: 100%;
    padding: 10px 0;
    border: 0;
    border-bottom: 1px solid var(--baseColor);
    border-radius: 0;
    background-color: var(--bgColor) !important;
    color: var(--baseColor) !important;
    font-size: 1.2rem;
    font-weight: 500;
    font-size: 1rem;
  }
  #header .bind .nav #menu .sign-btn li > button:hover {
    color: red !important;
  }
}
@media (max-width: 600px) {
  #header {
    padding: 0.5rem 0 0.5rem;
  }
  #header .bind .nav {
    top: 2.9rem;
  }
}
@media (max-width: 400px) {
  #header {
    padding: 0.5rem 0 0.5rem;
  }
  #header .bind .nav {
    top: 2.9rem;
  }
}
#footer {
  height: auto;
  padding: 1rem 0 1rem 0;
  border-top: 1px solid var(--baseColor);
<<<<<<< HEAD
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--baseColor);
}
#footer .div-left {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  background-color: var(--baseColor);
}
#footer .div-left #footer-title {
  color: var(--bgColor);
  margin-left: 10px;
}
#footer .div-left #footer-text {
  color: var(--bgColor);
  margin-left: 10px;
  margin-top: 3px;
}
#footer .div-left .team-parent-div {
  display: flex;
  height: auto;
  background-color: "var(--baseColor)";
  margin-top: 10px;
  margin-left: 10px;
}
#footer .div-left #team-people {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bgColor);
  background-color: var(--baseColor);
  border: 1px solid var(--bgColor);
  margin-right: 12px;
  border-radius: 5px;
  width: 83px;
  height: 30px;
}
#footer .div-right {
  height: auto;
  width: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 40px;
  background-color: var(--baseColor);
}
#footer .div-right .footer-clock {
  color: var(--bgColor);
}
#footer .div-right .footer-weather {
  color: var(--bgColor);
  display: flex;
  flex-direction: column;
=======
  background-color: var(--baseColor);
}
#footer .bind {
  width: 50%;
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#footer .tit {
  width: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: left;
}
#footer h2 {
  font-family: var(--pointFont);
  font-size: 3rem;
  font-weight: 500;
  color: var(--bgColor);
}
#footer p {
  padding: 0 0 10px 0;
  display: block;
  font-size: 1rem;
  font-weight: 500;
  word-break: keep-all;
  color: var(--bgColor);
}
#footer p span {
  font-family: var(--pointFont);
  font-size: 2rem;
  color: var(--bgColor);
}
#footer .team-parent > button {
  min-width: 70px;
  padding: 5px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--bgColor);
  border-radius: 5px;
  font-size: 0.9rem;
  color: var(--bgColor);
>>>>>>> 7d7d314fd714c6077327743cc8edc17f4d237724
}

@media (max-width: 1200px) {
  #footer {
    padding: 0.8rem 0 0.8rem;
  }
  #footer .bind .tit {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  #footer {
    padding: 0.5rem 0 0.5rem;
  }
  #footer .bind .tit {
    font-size: 1.3rem;
  }
}
@media (max-width: 400px) {
  #footer {
    padding: 0.5rem 0 0.5rem;
  }
  #footer .bind .team-parent {
    margin-top: 10px;
  }
  #footer .bind .team-parent > button {
    min-width: 48%;
  }
  #footer .bind .team-parent > button:nth-child(even) {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
