#clockAndWeather {
  width: 95%;
  margin: auto auto 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clock-title,
#weather-city {
  color: #c3c0bc;
  font-weight: 500;
  font-style: italic;
}
