#footer {
  height: auto;
  padding: 1rem 0 1rem 0;
  border-top: 1px solid var(--baseColor);

  .bind {
    width: 95%;
    margin: auto;
    display: flex;

    .tit {
      width: 100%;
      font-size: 1.5rem;
      font-weight: 700;
      text-align: right;
    }
  }
}

// tablet
@media (max-width: 1200px) {
  #footer {
    padding: 0.8rem 0 0.8rem;

    .bind {
      .tit {
        font-size: 1.5rem;
      }
    }
  }
}

// mobile
@media (max-width: 600px) {
  #footer {
    padding: 0.5rem 0 0.5rem;

    .bind {
      .tit {
        font-size: 1.3rem;
      }
    }
  }
}

@media (max-width: 400px) {
}
