#header {
  height: auto;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid var(--baseColor);

  .bind {
    width: 95%;
    min-height: 35px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: var(--baseColor);

      .tit {
        font-size: 1.5rem;
        font-weight: 700;
      }
    }

    .gnb {
      .toggle {
        display: none;
      }
    }

    .nav {
      display: flex;

      #search {
        position: relative;

        .search-input {
          width: 100%;
          padding: 5px 0;
          border-bottom: 1px solid var(--baseColor);
        }

        > * {
          font-size: 1rem;
        }

        .search-button {
          padding: 4px 10px 5px;
          border: 1px solid var(--baseColor);
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          color: var(--baseColor);
          transition: all 1s ease;
          position: absolute;
          right: 0;

          &:hover {
            background-color: var(--baseColor);
            color: var(--bgColor);
          }
        }
      }

      #menu {
        .sign-btn {
          display: flex;

          li {
            display: block;

            &:nth-child(odd) {
              margin-left: 15px;
            }

            > button {
              width: 90px;
              min-height: 30px;
              padding: 5px 10px;
              display: block;
              border: 1px solid var(--baseColor);
              border-radius: 5px;
              font-size: 0.9rem;
              text-align: center;
              transition: all 1s;
              cursor: pointer;
            }

            .login {
              background-color: var(--bgColor);
              color: var(--baseColor);

              &:hover {
                background-color: var(--baseColor);
                color: var(--bgColor);
              }
            }

            .logout {
              background-color: var(--baseColor);
              color: var(--bgColor);
              display: none;

              &:hover {
                background-color: var(--bgColor);
                color: var(--baseColor);
              }
            }

            .mypage {
              background-color: var(--baseColor);
              color: var(--bgColor);

              &:hover {
                background-color: var(--bgColor);
                color: var(--baseColor);
              }
            }
          }
        }
      }
    }
  }
}

// tablet
@media (max-width: 1200px) {
  #header {
    padding: 0.8rem 0 0.8rem;

    .bind {
      a {
        .tit {
        }
      }

      .gnb {
        .toggle {
        }
      }
      .nav {
        #search {
          .search-input {
          }
          > * {
          }

          .search-button {
            &:hover {
            }
          }
        }

        #menu {
          .sign-btn {
            li {
              &:nth-child(odd) {
                > button {
                }
              }

              .login {
                &:hover {
                }
              }

              .logout {
                &:hover {
                }
              }

              .mypage {
                &:hover {
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  #header {
    padding: 0.8rem 0 0.8rem;

    .bind {
      flex-direction: column;
      position: relative;

      a {
        .tit {
        }
      }

      .gnb {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        a {
          .tit {
          }
        }

        .toggle {
          display: block;
        }
      }

      .nav {
        padding: 0;
        display: none;
        flex-direction: column-reverse;
        position: absolute;
        top: 3.2rem;
        left: -2.5%;
        right: -2.5%;
        z-index: 60;
        background-color: var(--bgColor);

        &.on {
          display: flex;
        }

        #search {
          width: 100%;
          margin: 0 auto;
          padding: 15px 0 50px;
          border-bottom: 1px solid var(--baseColor);

          .search-input {
            width: 90%;
            position: absolute;
            left: 15px;
          }

          > * {
          }

          .search-button {
            right: 15px;

            &:hover {
            }
          }
        }

        #menu {
          .sign-btn {
            flex-direction: column;

            li {
              &:nth-child(odd) {
                margin-left: 0;
              }

              &:nth-of-type(1) {
                padding-top: 0;
              }

              > button {
                width: 100%;
                padding: 10px 0;
                border: 0;
                border-bottom: 1px solid var(--baseColor);
                border-radius: 0;
                background-color: var(--bgColor) !important;
                color: var(--baseColor) !important;
                font-size: 1.2rem;
                font-weight: 500;
                font-size: 1rem;

                &:hover {
                  color: red !important;
                }
              }

              .login {
                &:hover {
                }
              }

              .logout {
                &:hover {
                }
              }
              .mypage {
                &:hover {
                }
              }
            }
          }
        }
      }
    }
  }
}

// mobile
@media (max-width: 600px) {
  #header {
    padding: 0.5rem 0 0.5rem;

    .bind {
      a {
        .tit {
        }
      }

      .gnb {
        a {
          .tit {
          }
        }

        .toggle {
        }
      }

      .nav {
        top: 2.9rem;

        #search {
          .search-input {
          }

          > * {
          }

          .search-button {
            &:hover {
            }
          }
        }

        #menu {
          .sign-btn {
            li {
              &:nth-child(odd) {
              }

              &:nth-of-type(1) {
              }

              > button {
                &:hover {
                }
              }

              .login {
                &:hover {
                }
              }

              .logout {
                &:hover {
                }
              }
              .mypage {
                &:hover {
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 400px) {
  #header {
    padding: 0.5rem 0 0.5rem;

    .bind {
      a {
        .tit {
        }
      }

      .gnb {
        a {
          .tit {
          }
        }

        .toggle {
        }
      }

      .nav {
        top: 2.9rem;

        #search {
          .search-input {
          }

          > * {
          }

          .search-button {
            &:hover {
            }
          }
        }

        #menu {
          .sign-btn {
            li {
              &:nth-child(odd) {
              }

              &:nth-of-type(1) {
              }

              > button {
                &:hover {
                }
              }

              .login {
                &:hover {
                }
              }

              .logout {
                &:hover {
                }
              }
              .mypage {
                &:hover {
                }
              }
            }
          }
        }
      }
    }
  }
}
