.content {
  position: relative;
  min-height: 600px;

  .txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    color: #fff;
    z-index: 10;
  }

  .slide_wrap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;

    .slide_box {
      margin: auto;
      position: relative;
      width: 100%;
      height: 100%;
    }

    .slide_list {
      position: relative;
      overflow: hidden;
      min-width: 100%;
      height: 100%;

      .slide_item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
.content{
    position: relative;
    min-height: 480px;
    .txt{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.6rem;
        font-weight: 700;
        text-align: center;
        color: #fff;
        z-index: 10;
    }
    .slide_wrap{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        .slide_box{
            margin: auto;
            position: relative;
            width: 100%;
            height: 100%;
        }
        .slide_list{
            position: relative;
            overflow: hidden;
            min-width: 100%;
            height: 100%;
            .slide_item{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.3s;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}