@import 'reset';
@import 'variables.scss';

.review-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  // background-color: gray;
  padding: 50px;

  input {
    border: 2px solid black;
  }

  .w-60 {
    width: 60%;
  }

  h3 {
    margin-bottom: 20px;
  }

  .review-content {
    height: 100px;
    width: 100%;
  }

  // 리뷰 중복제거
  input {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }

  button {
    // background-color: gray;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
  }
}

// 리뷰 작성 form
.review-form {
  // background-color: green;

  .form-info {
    display: flex;
    justify-content: right;
  }
}

// 리뷰 목록
.review-list {
  // background-color: wheat;
}

.review-item {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  margin-top: 20px;
  padding: 0 20px;
  border-radius: 10px;
  background-color: white;

  span {
    margin: 10px 0;
  }

  span:nth-child(1) {
    font-weight: bold;
  }

  span:nth-child(2) {
    padding: 10px 0;
  }
}

.review-form .m-l-10 {
  margin-left: 10px;
}

// tablet
@media (max-width: 1200px) {
  #section {
  }
}

// mobile
@media (max-width: 600px) {
  #section {
  }
}

@media (max-width: 300px) {
  #section {
  }
}
