@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Nanum+Gothic:wght@400;700&family=Syne:wght@400;500;600;700&display=swap');

// font-family: 'Satoshi', sans-serif;
// font-family: 'Nanum Gothic', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;

:root {
  --baseFont: 'Satoshi', 'Noto Sans KR', 'Nanum Gothic', '맑은 고딕';
  --baseColor: #191919;
  --bgColor: #fdfbf5;
  --baseSize: 1rem;
}

html {
  font-size: 16px;

  body {
    background: var(--bgColor);
    font-size: var(--baseSize);
    font-family: var(--baseFont);

    #app {
      position: relative;
    }
  }
}

// tablet
@media (max-width: 800px) and (orientation: portrait) {
  html {
    font-size: 13px;

    body {
      #app {
      }
    }
  }
}

// mobile
@media (max-width: 400px) and (orientation: portrait) {
  html {
    body {
      #app {
      }
    }
  }
}
