@import 'reset';
@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';

#section {
}

#detail-header {
  width: 100%;
  height: 300px;
  background-color: yellow;
}

#detail-image-block{
  width: 200px;
  height: 200px;
  background-color: aquamarine;
  
}

// tablet
@media (max-width: 800px) and (orientation: portrait) {
  #section {
  }
}
// mobile
@media (max-width: 400px) and (orientation: portrait) {
  #section {
  }
}
