@import 'reset';
@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';
@import 'modal.scss';

#section {
  min-height: calc(100vh - 19rem);
  margin: 5rem auto 5rem;

  .bind {
    width: 95%;
    min-height: 45vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    cursor: auto;

    .history {
      margin-bottom: 100px;

      a {
        height: auto;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;

        &:hover {
          i {
            color: red;
          }
        }

        i {
          font-size: 1.5rem;
          margin-right: 15px;
        }

        span {
          display: inline-block;
        }
      }
    }

    #login {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > * {
        width: 300px;
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      .tit {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      .login-id,
      .login-password {
        padding: 5px 0;
        border-bottom: 1px solid var(--baseColor);
      }

      .submit-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        > * {
          width: 48%;
          font-size: 1rem;
          margin-bottom: 1rem;
        }

        .join-button {
          padding: 5px 10px;
          border: 1px solid var(--baseColor);
          border-radius: 5px;
          background-color: var(--baseColor);
          text-align: center;
          color: var(--bgColor);
          transition: all 1s ease;

          &:hover {
            background-color: var(--bgColor);
            color: var(--baseColor);
          }
        }

        .login-button {
          padding: 5px 10px;
          border: 1px solid var(--baseColor);
          border-radius: 5px;
          transition: all 1s ease;
          color: var(--baseColor);

          &:hover {
            background-color: var(--baseColor);
            color: var(--bgColor);
          }
        }
      }
    }

    #join {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > * {
        width: 300px;
        font-size: 1rem;
        margin-bottom: 1rem;

        > input {
          width: 100%;
          font-size: 1rem;
          margin-bottom: 0.3rem;
        }
      }

      .tit {
        font-size: 2rem;
        margin-bottom: 2rem;
      }

      .join-id,
      .join-password,
      .join-strong {
        padding: 5px 0;
        border-bottom: 1px solid var(--baseColor);
        display: block;
      }

      .error-id,
      .error-password,
      .error-strong {
        font-size: 0.8rem;
        color: red;
        display: none;
      }

      .join-button {
        margin-top: 20px;
        padding: 5px 10px;
        border: 1px solid var(--baseColor);
        border-radius: 5px;
        background-color: var(--baseColor);
        text-align: center;
        color: var(--bgColor);
        transition: all 1s ease;

        &:hover {
          background-color: var(--bgColor);
          color: var(--baseColor);
        }
      }

      .submit-button {
        padding: 5px 10px;
        border: 1px solid var(--baseColor);
        border-radius: 5px;
        transition: all 1s ease;

        &:hover {
          background-color: var(--baseColor);
          color: var(--bgColor);
        }
      }
    }
  }
}

// tablet
@media (max-width: 1200px) {
  #section {
    min-height: calc(100vh - 13rem);
    margin: 3rem auto 3rem;

    .bind {
      .history {
        a {
          i {
          }

          span {
          }
        }
      }

      #login {
        > * {
        }

        .tit {
        }

        .login-id,
        .login-password {
        }

        .submit-buttons {
          > * {
          }

          .join-button {
          }

          .login-button {
          }
        }
      }

      #join {
        > * {
          > input {
          }
        }

        .tit {
        }

        .join-id,
        .join-password,
        .join-strong {
        }

        .error-id,
        .error-password,
        .error-strong {
        }

        .join-button {
          &:hover {
          }
        }

        .submit-button {
          &:hover {
          }
        }
      }
    }
  }
}

// mobile
@media (max-width: 600px) {
  #section {
    min-height: calc(100vh - 13rem);

    .bind {
      width: 90%;

      .history {
        margin-bottom: 50px;

        a {
          i {
          }

          span {
          }
        }
      }

      #login {
        > * {
          width: 100%;
        }

        .tit {
          font-size: 1.5rem;
        }

        .login-id,
        .login-password {
        }

        .submit-buttons {
          > * {
          }

          .join-button {
          }

          .login-button {
          }
        }
      }

      #join {
        > * {
          width: 100%;

          > input {
          }
        }

        .tit {
          font-size: 1.5rem;
        }

        .join-id,
        .join-password,
        .join-strong {
        }

        .error-id,
        .error-password,
        .error-strong {
        }

        .join-button {
        }

        .submit-button {
          &:hover {
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #section {
  }
}
