@import 'reset';
@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';

#section {
  min-height: calc(100vh - 19rem);
  margin: 5rem auto 5rem;

  .bind {
    width: 95%;
    min-height: 45vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    cursor: auto;

    .history {
      margin-bottom: 100px;

      a {
        height: auto;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;

        &:hover {
          i {
            color: red;
          }
        }

        i {
          font-size: 1.5rem;
          margin-right: 15px;
        }

        span {
          display: inline-block;
        }
      }
    }

    .tit {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .my-info {
      min-height: 600px;
      display: flex;
      border: 1px solid var(--baseColor);
      border-radius: 3px;

      > * {
        min-height: 600px;
      }

      .my-profile {
        min-width: 300px;
        padding-top: 110px;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-right: 1px dashed var(--baseColor);

        a {
          .ico-profile {
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--baseColor);
            background-color: var(--baseColor);
            border-radius: 50%;
            overflow: hidden;

            > img {
              width: 100%;
              height: 100%;
            }

            i {
              color: var(--bgColor);
            }
          }
        }

        > p {
          margin-top: 0.5rem;
        }
        .our {
          font-size: 0.8rem;
          color: #000000ac;
          text-align: center;
        }
        #userId {
          margin-top: 5px;
          display: block;
          font-size: 1.1rem;
          text-align: center;
          font-weight: 700;
          color: var(--baseColor);
        }
        #userPassword {
          margin-top: 10px;
          border: 1px solid var(--baseColor);
          border-radius: 5px;
          padding: 5px 10px;
          cursor: pointer;

          &:hover {
            background-color: var(--baseColor);
            color: var(--bgColor);
          }
        }
      }

      .my-bookmark {
        width: 100%;
        padding: 25px 20px;

        .tit {
          font-size: 1.5rem;
          margin-left: 15px;
          font-weight: 600;
          display: none;
        }

        .card-list {
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          .card-item {
            // width: 212px;
            width: calc(20% - 30px);
            margin: 15px;
            border: 1px solid var(--baseColor);
            border-radius: 3px;
            overflow: hidden;

            .card-img {
              width: 100%;
              max-height: 370px;
              margin: 0 auto;
              position: relative;
              overflow: hidden;

              img {
                width: 100%;
              }
              .card-delete {
                width: 25px;
                height: 25px;
                position: absolute;
                top: -1px;
                right: -1px;
                background-color: var(--bgColor);
                border: 1px solid var(--baseColor);
                border-radius: 3px;
                font-size: 1rem;
                z-index: 2;
              }
            }
            .card-tit {
              padding: 10px;
              font-size: 1rem;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}

// tablet
@media (max-width: 1200px) {
  #section {
    min-height: calc(100vh - 13rem);
    margin: 3rem auto 3rem;

    .bind {
      .history {
        a {
          i {
          }

          span {
          }
        }
      }
      .tit {
      }

      .my-info {
        flex-direction: column;

        > * {
          min-height: auto;
        }

        .my-profile {
          border-right: 0;
          padding-top: 50px;
          min-width: 100%;

          a {
            .ico-profile {
              > img {
              }

              i {
              }
            }
          }

          > p {
          }
          .our {
          }
          #userId {
          }
          #userPassword {
            &:hover {
            }
          }
        }

        .my-bookmark {
          .tit {
          }

          .card-list {
            .card-item {
              width: calc(33% - 28px);
              .card-img {
                img {
                }
                .card-delete {
                }
              }
              .card-tit {
              }
            }
          }
        }
      }
    }
  }
}

// mobile
@media (max-width: 600px) {
  #section {
    min-height: calc(100vh - 13rem);

    .bind {
      .history {
        margin-bottom: 50px;

        a {
          i {
          }

          span {
          }
        }
      }

      .tit {
      }

      .my-info {
        flex-direction: column;

        > * {
          min-height: auto;
        }

        .my-profile {
          border-right: 0;
          padding-top: 50px;

          a {
            .ico-profile {
              > img {
              }

              i {
              }
            }
          }

          > p {
          }
          .our {
          }
          #userId {
          }
          #userPassword {
            &:hover {
            }
          }
        }

        .my-bookmark {
          padding: 0;
          padding-top: 2rem;
          .tit {
            margin-bottom: 10px;
          }

          .card-list {
            .card-item {
              width: calc(50% - 30px);
              margin: 10px;

              .card-img {
                img {
                }
                .card-delete {
                }
              }
              .card-tit {
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #section {
    .bind {
      .my-info {
        flex-direction: column;

        > * {
          min-height: auto;
        }

        .my-profile {
          a {
            .ico-profile {
              > img {
              }

              i {
              }
            }
          }

          > p {
          }
          .our {
          }
          #userId {
          }
          #userPassword {
            &:hover {
            }
          }
        }

        .my-bookmark {
          .tit {
            font-size: 1rem;
            margin-bottom: 0;
          }

          .card-list {
            .card-item {
              width: calc(50% - 16px);
              margin: 8px;

              .card-img {
                max-height: 190px;
                img {
                }
                .card-delete {
                }
              }
              .card-tit {
                padding: 10px 10px;
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
}
