@import 'reset';
@import 'variables.scss';
@import 'header.scss';
@import 'footer.scss';

// 예시 페이지
#section {
  min-height: calc(100vh - 19rem);
  margin: 5rem auto 5rem;

  .bind {
    width: 95%;
    min-height: 45vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    cursor: auto;

    .history {
      margin-bottom: 100px;

      a {
        height: auto;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 600;

        &:hover {
          i {
            color: red;
          }
        }

        i {
          font-size: 1.5rem;
          margin-right: 15px;
        }

        span {
          display: inline-block;
        }
      }
    }

    .tit {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .my-info {
      min-height: 600px;
      display: flex;
      border: 1px solid var(--baseColor);
      border-radius: 5px;

      > * {
        min-height: 600px;
      }

      .my-profile {
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-right: 1px dashed var(--baseColor);

        a {
          .ico-profile {
            width: 100px;
            height: 100px;
            // position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--baseColor);
            background-color: var(--baseColor);
            border-radius: 50%;
            overflow: hidden;

            > img {
              width: 100%;
              height: 100%;
            }

            i {
              color: var(--bgColor);
              // position: absolute;
              // top: 50%;
              // left: 50%;
              // transform: translate(-50%, -50%);
            }
          }
        }

        > p {
          margin-top: 0.5rem;
        }
        .our {
          font-size: 0.8rem;
          color: #000000ac;
          text-align: center;
        }
        #userId {
          margin-top: 5px;
          display: block;
          font-size: 1.1rem;
          text-align: center;
          font-weight: 700;
          color: var(--baseColor);
        }
        #userPassword {
          margin-top: 10px;
          border: 1px solid var(--baseColor);
          border-radius: 5px;
          padding: 5px 10px;
          cursor: pointer;

          &:hover {
            background-color: var(--baseColor);
            color: var(--bgColor);
          }
        }
      }
      .my-bookmark {
        width: 100%;
        padding: 25px 20px;

        .tit {
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }
}

// tablet
@media (max-width: 1200px) {
  #section {
    min-height: calc(100vh - 13rem);
    margin: 3rem auto 3rem;

    .bind {
      .history {
        a {
          i {
          }

          span {
          }
        }
      }
    }
  }
}

// mobile
@media (max-width: 600px) {
  #section {
    min-height: calc(100vh - 13rem);

    .bind {
      .history {
        margin-bottom: 50px;

        a {
          i {
          }

          span {
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #section {
    .bind {
    }
  }
}
